.home-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 50px;
}

.home-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.home-column-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #fbfbfb; 
    height: 100vh;
}

.home-column-right{
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100vh;
    width: 100%;
}


.home-row{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.name{
    font-size: 50px;
    font-weight: 700;
}

.vertical-line{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15px; 
    height: 500px;
    background-color: black;
}