.img-anim{
    animation: roll 3s infinite;
}

.button-submit:hover{
    background-color: black;
}

@keyframes roll {
    00%{
        transform: translateY(-20px);
        transform: scale(0.9);
    }
    100%{
        transform: translateY(20px);
        transform: scale(1.1);
    }
}