input[type=file]{
    border: 2px solid #000000;
    height: 1.4cm;
    width: 60vh;
    border-radius: 3.5px 3.5px;
}

input[type=file]::file-selector-button {
    background-color: #000000;
    color: white;
    transition: 1s;
    height: 1.4cm;
}

TextField{
    border-radius: 10px 10px;
}